[Unit]
Description=Noctalia Shell
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/qs -c noctalia-shell
Restart=on-failure

[Install]
WantedBy=niri.service
