#!/usr/bin/env bash

# set -x
# set -e

# Options for dpms and screen-saver
# screensaver: xset s <timeout> <cycle>
xset s 1500 5 # timeout: 25m cycle:5s
# dpms: xset dpms <standby> <suspend> <off>
xset dpms 1800 2100 2400 # standby: 30m, supend: 35m, off: 40m.

# Keymap - Caps- Lock becomes an additional Super
# localectl set-x11-keymap us pc104 altgr-intl caps:super

# Typematic delay and rate
# xset r rate delay rate
xset r rate 500 50

# Merge Xresources
xrdb -merge ${HOME}/.Xresources

## Set displays 
# See also: ${HOME}/bin/set_displays.py
#
# Main: Laptop + External
# xrandr --dpi 96 \
#   --output eDP-1 --mode 1920x1080 \
#   --output HDMI-1 --mode 2560x1440 --right-of eDP-1
#
# 3 screens (2x27" and Laptop) - Right screen oriented vertically.
# xrandr \
#   --output DP-1 --auto --primary --pos "0x0" \
#   --output DP-2 --auto --rotate left --pos "2560x0" \
#   --output eDP-1 --mode "1920x1080" --pos "500x1440"

autorandr --change --default laptop &> /dev/null

function log {
  logger "[xprofile]: $*"
}

function run {
  if ! pgrep -f $1 &> /dev/null; then
    log "Attempting to launch: ($*)"
    if $*; then
      log "Launched app: ($*) successfully."
    else
      log "Failed to launch app: ($*)"
    fi
  else
    log "App is already running: ($*)"
  fi
}

# Auto start some basic apps if they are not already running.
run blueman-applet &
run cbatticon &
run compton --inactive-dim 0.1 &
run nm-applet &
run parcellite &
run pasystray &
# run xss-lock --transfer-sleep-lock --notifier /usr/libexec/xsecurelock/dimmer -- /path/to/xsecurelock.sh &

# Set wallpaper
feh --bg-fill --randomize ~/wallpaper &
