[Desktop Entry]
Name=Urxvt
Comment=Terminal emulator
TryExec=urxvt
Exec=urxvt
Icon=terminal
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ayatana-Desktop-Shortcuts=NewWindow;
 
[NewWindow Shortcut Group]
Name=Open a New Terminal
Exec=urxvt
TargetEnvironment=Unity
